html{
    height: 100%;
    overflow-y: hidden;
}
body{
    margin:0;
    padding:0;
    display: flex;
    flex-direction: row;
    height: 100%;
    background-color: rgb(243, 243, 243);
}

.hamburger{
    transition: 0.5s;
    height: 20px;
    position: absolute;
    top : 4%;
    left: 5%;
    z-index: 9;
    display: none;
    cursor: pointer;
}

.sidebar{
    width: 200px;
    height:100%;
    background-color: rgb(27, 119, 194);
}
.content{
    overflow-y: hidden;
    width:90%;
    height:95%;
    margin: 20px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

.menu{
    margin-top: 100px;
}

.menu h4{
    color:white;
    font-family:'Roboto',sans-serif;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
}

.menu  a:link{
    color: white;
    text-decoration: none;
}

.menu h4:hover{
    background-color: rgb(15, 80, 153);
}

.menu  a:visited{
    color: white;
}
.content h1{
    font-family: 'Arimo',sans-serif;
    font-size: 40px;
}

.kotak1, .kotak2{
    width: 45%;
    margin: 10px;
    height: 500px;
    padding: 20px;
    box-sizing: border-box;
}


.kotak2 h3{
    font-family: 'Roboto',sans-serif;
    font-weight: bolder;
}
.kotak2 h4{
    font-family: 'Roboto',sans-serif;
}

.kotak1 img{
    height: 200px;
}

button{
    margin-top: 30px;
    border:none;
    padding: 10px;
    background-color: rgb(12, 105, 54);
    color: white;
}

.item{
    width: 95%;
    padding: 20px;
    box-sizing: border-box;
    display:flex ;
    justify-content: space-between;
    border-bottom: 1px solid rgb(200, 201, 201);
}

.sidebar .profile img {
    border-radius: 50%;
}

.level{
    color:white;font-family:'Roboto',sans-serif;
    padding: 10px;
    width: 50%;
    border-radius: 40px;
    box-sizing: border-box;
}

.blackScreen{
    position : fixed;
    left : 0;
    right : 0;
    bottom : 0;
    top : 0;
    background-color: rgba(0,0,0,0.8);
    display:none;
    justify-content: center;
    align-items: center;
}

.blackScreen .updateAccountPanel{
    border-radius:15px;
    color:black;
    display: none;
    width : 40%;
    padding-bottom: 20px;
    background-color: white;
}
.blackScreen .updateAccountPanel table{
    width: 90%;
    font-family: 'Roboto',sans-serif;
}

.blackScreen .gantiProfile{
    border-radius:15px;
    display: none;
    width : 40%;
    padding-bottom: 20px;
    background-color: white;
}

.updateAccountPanel input,select,textarea{
    background-color: rgb(186, 219, 228);
    border : none;
    border-radius: 5px;
    width: 80%;
    height: 30px;
}


.blackScreen h1{
    font-family: 'Arimo',sans-serif;
}
.updateAccountPanel button{
    width: 20%;
    margin-left: 20px;
    margin-top : 20px;
    border:none;
    color : white;
    border-radius: 15px;
    height: 40px;
    background-color: rgb(15, 116, 90);
}

.gantiProfile button{
    width: 20%;
    margin-left: 20px;
    margin-top : 20px;
    border:none;
    color : white;
    border-radius: 5px;
    height: 40px;
    background-color: rgb(15, 116, 90);
}

.updateAccountPanel .cancel{
    background-color: rgb(177, 16, 16);
}

.gantiProfile   .cancel{
    background-color: rgb(177, 16, 16);
}

@media screen and (max-width:900px){
    .kotak1{
        width: 30%;
    }

    .kotak2{
        width: 50%;
    }

    table h3{
        font-size: 16px;
    }
    .content{
        width:80%;
    }

    .content h1{
        font-size: 25px;
    }

    .kotak1 img{
        height: 150px;
    }

    .blackScreen .updateAccountPanel{
        width : 60%;
    }

    .blackScreen .gantiProfile{
        width : 60%;
    }
}

@media screen and (max-width:520px){

    .sidebar{
        width: 160px;
        transition: 0.5s;
        position: absolute; 
        overflow: hidden;
        left: -160px;
    }

    .active{
        transition: 0.5s;
        left: 0;
    }

    .active2{
        left : 170px;
        transition: 0.5s;
    }
    .content{
        width:100%;
        height: 100%;
        border-radius: unset;
        margin:unset;
    }

    .hamburger{
        display: block;
    }

    .profile  {
        height:80px;
        width :80px;
        border-radius: 50%;
    }

    .menu{
        margin-top : 50px;
    }

    .content{
        flex-direction: column-reverse;
        justify-content: space-evenly;
        align-items: center;
    }

    .kotak1{
        height: 300px;
        width: 80%;
        margin-top : 10px;
    }

    .kotak2{
        height: 550px;
        width: 80%;
        margin-top: -80px;
    }

    table tr{
        height: 20px;
    }
    .kotak2 h3{
        font-size: 13px;
    }
    .kotak2 h4{
        font-size: 11px;
    }

    .blackScreen .updateAccountPanel{
        width : 80%;
    }

    .blackScreen .gantiProfile{
        width : 80%;
    }
}
