html{
    height: 100%;
}
body{
    margin:0;
    padding:0;
    display: flex;
    flex-direction: row;
    height: 100%;
    background-color: rgb(243, 243, 243);
}

.hamburger{
    transition: 0.5s;
    height: 20px;
    position: absolute;
    top : 4%;
    left: 5%;
    z-index: 9;
    display: none;
    cursor: pointer;
}

.sidebar{
    width: 200px;
    position: relative;
    height:100%;
    background-color: rgb(27, 119, 194);
}


.content{
    width:90%; 
    height:95%;
    margin: 20px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    overflow: scroll;
}

.kotak .gambar img{
    height: 200px;
}

.menu{
    margin-top: 100px;
}
.menu h4{
    font-size:15px;
    color:white;
    font-family:'Roboto',sans-serif;
    height: 40px;
    line-height: 40px;
    line-height: 40px;
    padding-left: 20px;
}

.menu  a:link{
    color: white;
    text-decoration: none;
}

.menu h4:hover{
    background-color: rgb(15, 80, 153);
}

.menu  a:visited{
    color: white;
}
.content h1{
    font-family: 'Arimo',sans-serif;
}
.search{
    display: flex;
    flex-direction:row;
    justify-content: center;
}

.search input{
    border: none;
    background-color: rgb(238, 237, 237);
    height: 40px;
    width: 40%;
}
.search button{
    border: none;
    color: white;
    background-color: rgb(19, 147, 170);
    width: 100px;
}

.result {
    margin-top: 50px;
    height: 400px;
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-evenly;
    
}

.result .kotak{
    height: 400px;
    width:255px;
    background-color: white;
    box-shadow: 3px 3px 7px grey;
    line-height: 5px;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
  
}
.result button{
    border:none;
    height: 30px;
    background-color: rgb(13, 143, 56);
    color: white;
    border-radius: 5px;
}
.result .kotak h4{
    font-family: 'Arimo',sans-serif;
    line-height: 15px;
    margin-bottom: -5;
}

.result .kotak h5{
    margin-top: -5;
}
.result .kotak .gambar{
    height: 200px;
    width: 100%;
    overflow: hidden;
}

.level{
    color:white;font-family:'Roboto',sans-serif;
    padding: 10px;
    width: 50%;
    border-radius: 40px;
    box-sizing: border-box;
}

.profile {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

@media screen and (max-width:900px){
    .content{
        width:73%;
    }

    .content h1{
        font-size: 25px;
    }

    .search input{
        width: 60%;
    }

    .result .kotak{
        height: 350px;
        width:220px;
    }
    .result button{
        border:none;
        height: 30px;
    }
    
    .result .kotak h5{
        margin-top: -5;
        font-size: 12px;
    }
    .result .kotak .gambar{
        height: 150px;
        width: 100%;
        overflow: hidden;
    }

    .level{
        width: 50%;
    }

    .profile  {
        height: 80px;
        width: 80px;
        border-radius: 50%;
    }

}

@media screen and (max-width:550px){
    
    .sidebar{
        transition: 0.5s;
        width: 160px;
        position: absolute; 
        overflow: hidden;
        left: -160px;
    }

    .active{
        transition: 0.5s;
        left: 0;
    }

    .active2{
        left : 170px;
        transition: 0.5s;
    }

    .content{
        width:93%;
    }

    .hamburger{
        display: block;
    }

    .menu{
        margin-top: 50px;
    }

    .content h1{
        font-size: 20px;
    }

    .content{
        width : 100%;
        height: 100%;
        border-radius: unset;
        margin: unset;
    }
}