html{
    height: 100%;
}
body{
    margin:0;
    padding:0;
    display: flex;
    flex-direction: row;
    height: 100%;
    background-color: rgb(243, 243, 243);
}

.hamburger{
    transition: 0.5s;
    height: 20px;
    position: absolute;
    top : 4%;
    left: 5%;
    z-index: 9;
    display: none;
    cursor: pointer;
}

.sidebar{
    width: 200px;
    height:100%;
    background-color: rgb(27, 119, 194);
}
.content{
    width:90%;
    height:95%;
    margin: 20px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    overflow: scroll;
    padding: 20px;
    box-sizing: border-box;
}

.menu {
    margin-top: 100px;
}

.menu h4{
    color:white;
    font-family:'Roboto',sans-serif;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
}

.menu  a:link{
    color: white;
    text-decoration: none;
}

.menu h4:hover{
    background-color: rgb(15, 80, 153);
}

.menu  a:visited{
    color: white;
}
.content h1{
    font-family: 'Arimo',sans-serif;
    font-size: 40px;
}

.content .tagihan{
    width: 80%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 15px;
    box-sizing: border-box;
}

.item{
    width: 95%;
    padding: 20px;
    box-sizing: border-box;
    display:flex ;
    justify-content: space-between;
    border-bottom: 1px solid rgb(200, 201, 201);
}

.rincian{
    width: 71%;
    box-sizing: border-box;
    display:flex ;
    justify-content: space-between;
}

.rincian h1{
    font-family: 'Arimo',sans-serif;
    font-size: 22px;
    color: rgb(36, 36, 36);
    font-weight: bolder;
}


.item h1{
    font-family: 'Arimo',sans-serif;
    font-size: 25px;
    color: rgb(36, 36, 36);
    font-weight: bolder;
}

.item h4{
    font-family: 'Roboto',sans-serif;
}

.level{
    color:white;font-family:'Roboto',sans-serif;
    padding: 10px;
    width: 50%;
    border-radius: 40px;
    box-sizing: border-box;
}

.profile img {
    border-radius: 50%;
}

.gmbrKeranjang{
    height: 350px;
}

button{
    border : none;
    color:white;
    background-color: rgb(226, 131, 41);
    padding:15px;
    margin-top: 20px;
    border-radius: 20px;
    cursor: pointer;
}

.profile {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}


@media screen and (max-width:900px){
    .content h1{
        font-size: 25px;
    }

    .level {
        width : 50%;
    }

    .gmbrKeranjang{
        height: 250px;
    }

    .profile  {
        height: 80px;
        width: 80px;
        border-radius: 50%;
    }

    .tagihan h1{
        font-size: 3vw;
    }
    .tagihan h4{
        font-size: 2vw;
    }
    .rincian h1{
        font-size: 3vw;
    }
}

@media screen and (max-width:550px){
    
    .sidebar{
        width: 160px;
        transition: 0.5s;
        position: absolute; 
        overflow: hidden;
        left: -160px;
    }

    .active{
        transition: 0.5s;
        left: 0;
    }

    .active2{
        left : 170px;
        transition: 0.5s;
    }


    .content{
        width:93%;
    }

    .hamburger{
        display: block;
    }

    .gmbrKeranjang{
        height: 200px;
    }

    .tagihan h2{
        font-size: 20px;
    }

    .menu{
        margin-top:50px;
    }

    .content {
        width: 100%;
        height: 100%;
        border-radius: unset;
        margin: unset;
    }
}