html{
    height: 100%;
}
body{
    margin:0;
    padding:0;
    display: flex;
    flex-direction: row;
    height: 100%;
    background-color: rgb(243, 243, 243);
}
.sidebar{
    width:200px;
    height:100%;
    background-color: rgb(27, 119, 194);
}
.content{
    width:90%;
    height:95%;
    margin: 20px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    overflow: scroll;
}

.menu{
    margin-top: 100px;
}

.hamburger{
    transition: 0.5s;
    height: 20px;
    position: absolute;
    top : 4%;
    left: 5%;
    z-index: 9;
    display: none;
    cursor: pointer;
}

.menu h4{
    color:white;
    font-family:'Roboto',sans-serif;
    height: 40px;
    line-height: 40px;
    line-height: 40px;
    padding-left: 20px;
}

.menu  a:link{
    color: white;
    text-decoration: none;
}

.menu h4:hover{
    background-color: rgb(15, 80, 153);
}

.menu  a:visited{
    color: white;
}
.content h1{
    font-family: 'Arimo',sans-serif;
}
.search{
    display: flex;
    flex-direction:row;
    justify-content: center;
}


.level{
    color:white;font-family:'Roboto',sans-serif;
    padding: 10px;
    width: 50%;
    border-radius: 40px;
    box-sizing: border-box;
}

.profile {
    height : 100px;
    width :  100px;
    border-radius: 50%;
}

.sampul{
    width: 100%;
    padding-top : 20px;
    line-height: 18px;
    border-radius: 10px;
    padding-bottom: 20px;
    background-color: rgb(32, 165, 165);
    box-shadow: 6px 3px 5px rgb(155, 155, 155);

}

.sampul img{
    height: 150px;
    border-radius: 50%;
    border: 5px solid white;
}

.bintang img {
    border: none;
    height : 30px;
}

.result{
    margin-top: 50px;
    width: 95%;
    height : 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap : wrap;
}

.star img{
    border : none;
    height: 30px;
    margin-bottom: 50px;
}
.result .item {
    height : 350px;
    background-color: rgb(252, 252, 252);
    overflow: hidden;
    width: 210px;
    border-radius: 15px;
    box-shadow: 3px 3px 5px rgb(175, 175, 175);
    line-height: 10px;
    overflow: hidden;
}

.result .item img {
    height:180px;
    width :220px;
}

.result .item h2{
    font-family : 'Arimo',sans-serif;
}

.result .item h3{
    font-family : 'Roboto',sans-serif;
}

.result .item input{
    width : 30px;
    height : 20px;
    border : none;
    background-color: rgb(255, 255, 255);
    font-size : 20px;
}

.result .item button{
    border : none;
    height : 30px;
    width : 100px;
    color: white;
    background-color: rgb(41, 123, 179);
    border-radius: 10px;
}

@media screen and (max-width:900px){
    .content{
        width:80%;
    }

    .content h1{
        font-size: 25px;
    }
}

@media screen and (max-width:700px){
    .sampul h1{
        font-size: 4vw;
    }
    .sampul h3{
        font-size: 3vw;
    }
    .star img{
        border : none;
        height: 20px;
        margin-bottom: 50px;
    }

    .result .item {
        height : 300px;
        background-color: rgb(252, 252, 252);
        overflow: hidden;
        width: 180px;
        margin: 20px;
    }

    .result .item img {
        height:150px;
        width :220px;
    }

    .result .item h2{
        font-family : 'Arimo',sans-serif;
        font-size: 18px;
    }

    .result .item h2{
        font-family : 'Arimo',sans-serif;
        font-size: 16px;
    }
}

@media screen and (max-width:500px){
    .sidebar{
        width: 160px;
        transition: 0.5s;
        position: absolute; 
        overflow: hidden;
        left: -160px;
    }

    .active{
        transition: 0.5s;
        left: 0;
    }

    .active2{
        left : 170px;
        transition: 0.5s;
    }
    .content{
        width:93%;
    }

    .hamburger{
        display: block;
    }

    .profile  {
        height:80px;
        width :80px;
        border-radius: 50%;
    }

    .menu{
        margin-top : 50px;
    }

    .content{
        width: 100%;
        height: 100%;
        border-radius: unset;
        margin : unset;
    }
    .sampul{
        margin-top: -20px;
        padding-top: 40px;
        box-sizing: border-box;
    }
}
