html{
    height: 100%;
}
body{
    margin:0;
    padding:0;
    display: flex;
    flex-direction: row;
    height: 100%;
    background-color: rgb(243, 243, 243);
}
.sidebar{
    width: 200px;
    height:100%;
    background-color: rgb(27, 119, 194);
}
.content{
    width:90%;
    height:95%;
    margin: 20px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    overflow: scroll;
    padding: 20px;
    box-sizing: border-box;
}

.hamburger{
    transition: 0.5s;
    height: 20px;
    position: absolute;
    top : 4%;
    left: 5%;
    z-index: 9;
    display: none;
    cursor: pointer;
}



.menu h4{
    color:white;
    font-family:'Roboto',sans-serif;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
}

.menu  a:link{
    color: white;
    text-decoration: none;
}

.menu h4:hover{
    background-color: rgb(15, 80, 153);
}

.menu  a:visited{
    color: white;
}
.content h1{
    font-family: 'Arimo',sans-serif;
    font-size: 40px;
}

.content .tagihan{
    width: 80%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 15px;
    box-sizing: border-box;
}

.item{
    width: 95%;
    padding: 20px;
    box-sizing: border-box;
    display:flex ;
    justify-content: space-between;
    border-bottom: 1px solid rgb(200, 201, 201);
}

.rincian{
    width: 71%;
    box-sizing: border-box;
    display:flex ;
    justify-content: space-between;
}

.rincian h1{
    font-family: 'Arimo',sans-serif;
    font-size: 22px;
    color: rgb(36, 36, 36);
    font-weight: bolder;
}

.tagihan img{
    height: 350px;
}

.item .kotak button{
    background-color: rgb(206, 30, 30);
    padding: 10px;
    border-radius: 10px;
    border : none;
    color: white;
}
.item .kotak button h1{
    color:white;
    font-size: 15px;
    font-family:'Roboto',sans-serif;
}

.item h1{
    font-family: 'Arimo',sans-serif;
    font-size: 25px;
    color: rgb(36, 36, 36);
    font-weight: bolder;
}

.item h4{
    font-family: 'Roboto',sans-serif;
}

.level{
    color:white;font-family:'Roboto',sans-serif;
    background-color: rgb(211, 146, 25);
    padding: 10px;
    width: 30%;
    border-radius: 40px;
    box-sizing: border-box;
}

.profile  {
    height:100px;
    width : 100px;
    border-radius: 50%;
}

button{
    border : none;
    color:white;
    background-color: rgb(226, 131, 41);
    padding:15px;
    margin-top: 20px;
    border-radius: 20px;
    cursor: pointer;
}

@media screen and (max-width:750px){
    .content h1{
        font-size: 25px;
    }

    .item h1{
        font-size: 23px;
    }

    .item h4{
        font-size: 16px;
    }

    .content .tagihan{
        width: 100%;
    }

    .tagihan img{
        height: 250px;
    }

    .item {
        width: 100%;
    }
    .rincian{
        width: 90%;
    }
    .rincian .kotak h1{
        font-size: 23px;
    }
    .item .kotak button{
        padding: 5px;
    }
    .item .kotak button h1{
       font-size: 12px;
    }
    .tagihan h2{
        font-size: 23px;
    }
    .profile  {
        height:80px;
        width : 80px;
        border-radius: 50%;
    }
}

@media screen and (max-width:600px){
    .sidebar{
        width: 160px;
        transition: 0.5s;
        position: absolute; 
        overflow: hidden;
        left: -160px;
    }

    .active{
        transition: 0.5s;
        left: 0;
    }

    .active2{
        left : 170px;
        transition: 0.5s;
    }
    .content{
        width:93%;
    }

    .hamburger{
        display: block;
    }

    .profile  {
        height:80px;
        width :80px;
        border-radius: 50%;
    }

    .menu{
        margin-top : 50px;
    }

    .content{
        width: 100%;
        height: 100%;
        border-radius: unset;
        margin : unset;
    }
}

@media screen and (max-width:490px){
    .rincian .kotak h1{
        font-size: 16px;
    }

    .item h1{
        font-size: 16px;
    }

    .item h4{
        font-size: 12px;
    }
}
